<%= link_to "新規投稿", "/posts/new", class: "btn btn-primary btn-block mt-2" %><br />
<h2>投稿一覧</h2>
<div class="pb-2 border-bottom"></div>
<% @posts.each do |post| %>
    <div class="py-2 border-bottom">
        <a href="/posts/<%= post.id.to_s %>">
            <div class="text-dark"><%= post.name %> - <%= post.created_at.strftime("%Y/%m/%d %H:%M") %></div>
            <div class="text-dark"><%= post.title %></div>
        </a>
    </div>
<% end %>