<h2 class="mb-4">新規投稿</h2>
<%= form_tag({:controller => 'posts', :action => 'create'}, {:method => :post, :multipart => true}) do %>
    <div class="form-group">
        <%= label_tag :name, 'ニックネーム' %>
        <%= text_field_tag :name, session[:name], class: 'form-control', placeholder: "ニックネーム" %>
    </div>
    <div class="form-group">
        <%= label_tag :title, 'タイトル' %>
        <%= text_field_tag :title, "", class: 'form-control', placeholder: "タイトル" %>
    </div>
    <div class="form-group">
        <%= label_tag :edit_pass, '編集時パスワード' %>
        <%= text_field_tag :edit_pass, session[:edit_pass], class: 'form-control', placeholder: "編集時パスワード" %>
    </div>
    <div class="form-group">
        <%= label_tag :content, '内容' %>
        <%= text_area_tag :content, "", class: 'form-control', placeholder: "内容", rows: "4" %>
    </div>
    <div class="form-group">
        <%= label_tag :image, '添付画像' %>
        <%= file_field_tag :image %>
    </div>
    <div class="form-group text-right">
        <%= submit_tag("送信", class: "btn btn-primary") %>
    </div>
<% end %>
