<% if @post.parent_post_id %>
    <div class="mb-2"><a href="/posts/<%= @post.parent_post_id %>">＜ 返信元に戻る</a></div>
<% else %>
    <div class="mb-2"><%= link_to "投稿一覧に戻る", "/posts" %></div>
<% end %>

<div class="border-bottom pb-3 mb-3">
    <div>
        <div class="float-left">
            <% if @post.category.badge_color %>
                <span class="badge badge-<%= @post.category.badge_color %> mr-1">
                    <%= @post.category.name %>
                </span>
            <% elsif @post.category_id != nil && @post.category_id != 99 %>
                <span class="badge badge-white mr-1">
                    その他
                </span>
            <% end %>
            (閲覧:<%= @post.impressionist_count %>, 返信:<%= @post.reply_count %>)
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-right" data-toggle="modal" data-target="#modal<%= @post.id.to_s %>">
            編集
        </button>
        <%= form_tag({:controller => 'posts', :action => 'addBookmark'}, {:method => :post}) do %>
            <%= hidden_field_tag :id, @post.id %>
            <button type="submit" class="btn btn-sm btn-secondary float-right mr-2">
                BM+
            </button>
        <% end %>
        <div style="clear: both;"></div>
        <div>
            <%= @post.name %> - <%= @post.created_at.strftime("%Y/%m/%d %H:%M") %>
        </div>
    </div>
    <h2><%= @post.title %></h2>
    <%= simple_format(h(@post.content), {}, wrapper_tag: "div") %>
    <% if File.exist?(Rails.root + "public/images/" + (@post.id.to_s + ".png")) %>
        <div class="pt-2">
            <%= image_tag "/images/" + @post.id.to_s + ".png", style: "max-width:100%" %>
        </div>
    <% end %>
</div>

<button 
    type="button"
    class="btn btn-primary btn-block"
    data-toggle="collapse"
    data-target="#replyForm"
    aria-expanded="false"
    aria-controls="replyForm">
    返信する
</button>

<div class="collapse" id="replyForm">
    <div class="card card-body">
        <%= form_tag({:controller => 'posts', :action => 'reply'}, {:method => :post, :multipart => true}) do %>
            <%= hidden_field_tag :id, @post.id %>
            <div class="form-group">
                <%= label_tag :name, 'ニックネーム' %>
                <%= text_field_tag :name, session[:name], class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= label_tag :edit_pass, '編集時パスワード' %>
                <%= text_field_tag :edit_pass, session[:edit_pass], class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= label_tag :content, '内容' %>
                <%= text_area_tag :content, "", class: 'form-control', rows: "4" %>
            </div>
            <div class="form-group">
                <%= label_tag :image, '添付画像' %>
                <%= file_field_tag :image, accept: 'image/jpg,image/jpeg,image/png,image/gif' %>
            </div>
            <div class="form-group text-right">
                <%= submit_tag("送信", class: "btn btn-primary") %>
            </div>
        <% end %>
    </div>
</div>

<div class="border-top my-3">
    <% @replies.each do |reply| %>
        <a href="/posts/<%= reply.id %>" class="text-dark text-decoration-none">
            <div class="py-2 my-1 border-bottom">
                <div>
                    <div class="float-left text-dark">
                        <%= reply.name %> - <%= reply.created_at.strftime("%Y/%m/%d %H:%M") %>
                    </div>
                    <button type="button" class="btn btn-sm float-right btn-secondary" data-toggle="modal" data-target="#modal<%= reply.id.to_s %>">
                        編集
                    </button>
                </div>
                <br/>
                <div class=" text-dark"><%= simple_format(h(reply.content), {}, wrapper_tag: "div") %></div>
                <% if File.exist?(Rails.root + "public/images/" + (reply.id.to_s + ".png")) %>
                    <div class="pt-2">
                        <%= image_tag "/images/" + reply.id.to_s + ".png", style: "max-width:100%" %>
                    </div>
                <% end %>
            </div>
            <%= form_tag('/posts/' + reply.id.to_s + "/edit" , method: :post) do %>
                <div class="modal fade" id="modal<%= reply.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="label<%= reply.id.to_s %>" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="label<%= reply.id.to_s %>">編集パスワード認証</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <%= text_field_tag :input_edit_pass, session[:edit_pass], class: 'form-control' %>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <%= submit_tag("送信", class: "btn btn-primary") %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </a>
    <% end %>
</div>

<%= form_tag('/posts/' + @post.id.to_s + "/edit" , method: :post) do %>
    <div class="modal fade" id="modal<%= @post.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="label<%= @post.id.to_s %>" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label<%= @post.id.to_s %>">編集パスワード認証</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <%= text_field_tag :input_edit_pass, session[:edit_pass], class: 'form-control' %>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <%= submit_tag("送信", class: "btn btn-primary") %>
                </div>
            </div>
        </div>
    </div>
<% end %>